*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: antiquewhite;
    height: 400px;
    display: flex;
    flex-direction: row;
}

div{
    width: 30%;
    border: solid 2px black;
    font-size: 60%;
    text-align: center;
    line-height: 120px;
    flex-grow: 1;
}

#div3{
    flex-basis: 2;
}